<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel='shortcut icon' type='image/x-icon'
    href='https://mlohrktvfr9b.i.optimole.com/cb:tVDx~16b5e/w:600/h:600/q:mauto/https://www.nerdstickers.com.br/wp-content/uploads/2020/11/adesivo-00-R-nerd-stickers.png' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css">

  <title>Gerenciador de conteudo</title>
</head>

<body>
  <div class="container">

    <header>
      <ul>
        <li><img class="logo" src="https://mlohrktvfr9b.i.optimole.com/cb:tVDx~16b5e/w:600/h:600/q:mauto/https://www.nerdstickers.com.br/wp-content/uploads/2020/11/adesivo-00-R-nerd-stickers.png"></li>
        <li><a href="/site">Início</a></li>
        <li><a href="/cursos/create">Adicionar curso</a></li>
        <li><a href="/professores/create">Adicionar professores</a></li>
      </ul>
    </header>

    {{{body}}}

  </div>
  <footer>ㅤ</footer>
</body>

</html>