<main>
  <h1>{{curso.name}}</h1>
  <img class="curso" src="/img/curso/{{curso.imagem}}">

  <div class="detalhes">
    <p><span>Descrição:</span> {{curso.descricao}}

    <form action="/cursos/remove/{{curso._id}}" method="POST">
      <input type="submit" class="detalhes" value="Excluir ✖">
    </form>

  </div>
</main>